name: CI

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 21

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build
           
      - name: Upload files to a GitHub release  
        uses: svenstaro/upload-release-action@2.9.0
        with:
          file: dist/NitroStreams.plugin.js
          tag: ${{ github.ref }}
          overwrite: true
